@import url('https://fonts.googleapis.com/css?family=Nunito');

html body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Nunito', sans-serif;
}

#loginInput {
    max-width:500px;
    margin-top:30%;
    margin-left:25%;
}